@import url("http://fonts.googleapis.com/css2?family=Montserrat:wght\@100;200;300;400;500;600;700;800&display=swap");


/********* Colors ********/
$base_color: #021d42;
$secondary_color: #4b556f;
$light_blue: #4eaad5;
$light_grey: rgba(189, 189, 203, 0.5);
$grey: rgb(189, 189, 203);
$offwhite: #f1f3f5;


/******** Font Family *********/
$primary-font: 'Montserrat', sans-serif;