#webinars_section {
    .view_more_btn {
      background: transparent;
      margin-top: 2rem;
    }
    .grid {
      display: flex;
      justify-content: flex-start;
      flex-flow: wrap;
  
      .thumbnail:nth-child(3),
      .thumbnail:nth-child(6) {
        margin-right: 0;
      }
      .thumbnail {
        width: 32%;
        margin-right: 1%;
        margin-bottom: 1.5rem;
        min-height: initial;
        transition: box-shadow 0.2s ease;
        background: url(../i/SW_arrow_white.svg) 2rem 90%/ 50px no-repeat;  
        background-color: $offwhite;
        .image {
            display: none;
        }
        a {
          padding: 2rem 3rem 2rem 2rem;
          z-index: 10;
        }
        .arrow {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 9px;
          right: 9px;
          transform: rotate(225deg);
          transition: border-color 0.2s linear;
          background: url("../i/arrow_light_grey.svg") center/30px no-repeat;
        }
        .callout {
          display: none;
        }
        .info {
            height: 100%;
        }
        .summary {
          margin-bottom: 2.2rem;
        }
      }
      .thumbnail:hover {
        .article-title {
            color: $light_blue;
        }
        .callout {
          color: $light_blue;
        }
      }
    }
  }