#webinars_section {
  .view_more_btn {
    background: transparent;
    margin-top: 2rem;
  }

  .grid {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;

    .thumbnail:nth-child(3),
    .thumbnail:nth-child(6) {
      margin-right: 0;
    }

    .thumbnail {
      width: 32%;
      margin-right: 1%;
      margin-bottom: 1.5rem;
      min-height: initial;
      transition: box-shadow 0.2s ease;
      background-color: $offwhite;

      .image {
        display: none;
      }

      a {
        padding: 2rem 3rem 2rem 2rem;
        z-index: 10;
      }



      .callout {
        left: 2rem;
        padding-right: 60px;

        background: url(../i/SW_arrow_white.svg) 100% center/ 50px no-repeat;
      }

      .info {
        height: 100%;
      }

      .summary {
        margin-bottom: 3.5rem;
      }
    }

    .thumbnail:hover {

      .callout {
        color: $light_blue;
      }
    }
  }
}